 <script type="text/javascript">   
     
 $(document).ready(function() {
 
  $('#dateFrom').datepicker({ 
                        dateFormat: "dd/mm/yy",
                        showOn: "both",
			buttonImage: "{$_subdomain}/css/Skins/{$_theme}/images/calendar.png",
			buttonImageOnly: true 
                            });
  $('#dateTo').datepicker({
                        dateFormat: "dd/mm/yy",
                        showOn: "both",
			buttonImage: "{$_subdomain}/css/Skins/{$_theme}/images/calendar.png",
			buttonImageOnly: true 
                            });
   }); 
   
   
   function generateReport(){
   window.location="{$_subdomain}/Stock/StockUsageReportGen/?"+$('#f1s1').serialize();
   }
  </script>  
   
  <div id="stockUsageReportContainer" class="SystemAdminFormPanel" style="width: 400px" >
    <fieldset>
          <legend>Stock Usage Report</legend>
        <form id="f1s1">
      
        <label  style="width:120px;font-size:12px">Date From:</label><input type="text" id="dateFrom" name="dateFrom"><br>
        <label  style="width:120px;font-size:12px">Date To:</label><input type="text" id="dateTo" name="dateTo"><br>
        
            </form>
          
            <br>
              <button  style="width:140px;float:left" onclick="generateReport()" onclick="" id="GenerateReportButtonButton" type="button" class="gplus-blue">Generate Report</button>
              <button  style="width:100px;float:right" onclick="$.colorbox.close();" id="GenerateReportButtonButton" type="button" class="gplus-red">Cancel</button>
        
    
    </fieldset>    
                 
                        
       
</div>
                 
 
                          
                        
